* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f3f3;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  transform: skewY(-10deg);
}

.card-content {
  position: relative;
  background: #fff;
  width: 300px;
  height: 400px;
  transition: 0.5s;
}
.card-content::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.card-content::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 200px solid #d9d9d9;
}

.card-content:hover {
  transform: translateY(-40px);
}

.card-img {
  position: relative;
  width: 300px;
  height: 200px;
  background: #00c7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-icon {
  max-width: 100px;
}

.card-title {
  position: relative;
  color: #fff;
  margin-top: 10px;
}

.card-container .card-content .card-text {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 200px;
  padding: 20px;
  color: #777;
  text-align: center;
}

.card-text::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.card-container .card-content:hover .card-text::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.card-container .card-content:nth-child(1) {
  z-index: 3;
}
.card-container .card-content:nth-child(2) {
  z-index: 2;
}
.card-container .card-content:nth-child(3) {
  z-index: 1;
}
